.row
	mixin card(filling, portion, present, done, weight)
		.col
			.card
				.card_block
					.card_pre Сказочное заморское яство
					.card_title
						| Нямушка
						br
						small= filling
					.card_portion= portion
						|  порций
						br
						=present
						br
						=done
					.card_weight= weight
						small  кг
				.card_footer
					| Чего сидишь? Порадуй котэ, 
					a купи
					| .
	+card('с фуа-гра', '10', 'мышь в подарок', '', '0,5', '')
	+card('с рыбой', '40', '2 мыши в подарок', '', '2')
	+card('с курой', '100', '5 мышей в подарок', 'заказчик доволен', '5')